.hero {
  width: 100%;
  height: 30vw;
  margin-top: 10px;

  /* Mettre le parent en position `relative` sinon le positionnement se fera en par rapport à la fenêtre du navigateur  */
  position: relative;
}
img {
  /* Epouser les dimensions du bloc parent */
  width: 100%;
  height: 100%;

  /* Eviter la déformation de l'image */
  object-fit: cover;
}

.calltoaction {
  background-color: white;
  border: none;
  border-radius: 5px;
  font-size: 30px;
  position: absolute;
  left: 50px;
  top: 50px;
  bottom: 200px;
  height: 270px;
  width: 410px;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}
.calltoaction p {
  margin-left: 15px;
}
.calltoaction button {
  margin-left: 15px;
  height: 65px;
  width: 190px;
  background-color: white;
  border: #09b0ba 1px solid;
  /* width: fit-content; */
  border-radius: 3px;
  color: #09b0ba;
  cursor: pointer;
}
.calltoaction button:hover {
  background-color: #09b0ba;
  cursor: pointer;
  color: white;
}
