/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .main {
    margin-top: 200px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
  }
  .owner {
    display: flex;
    gap: 30px;
    align-items: center;
    width: 180px;
    color: grey;
  }

  .owner img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
  }

  .card > img {
    width: 250px;
    height: 360px;
    border-radius: 2px;
  }
  .card {
    padding: 30px;
  }
  .main a {
    text-decoration: none;
    color: black;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .main {
    margin-top: 230px;

    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    max-width: 2048px;
  }
  .owner {
    display: flex;
    gap: 30px;
    align-items: center;
    width: 180px;
    color: grey;
  }

  .owner img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
  }

  .card > img {
    width: 250px;
    height: 360px;
    border-radius: 2px;
  }
  .card {
    padding: 30px;
  }
  .main a {
    text-decoration: none;
    color: black;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .main {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    max-width: 2048px;
  }
  .owner {
    display: flex;
    gap: 30px;
    align-items: center;
    width: 180px;
    color: grey;
  }

  .owner img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
  }

  .card > img {
    width: 250px;
    height: 360px;
    border-radius: 2px;
  }
  .card {
    padding: 30px;
  }
  .main a {
    text-decoration: none;
    color: black;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .main {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    max-width: 2048px;
  }
  .owner {
    display: flex;
    gap: 30px;
    align-items: center;
    width: 180px;
    color: grey;
  }

  .owner img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
  }

  .card > img {
    width: 250px;
    height: 360px;
    border-radius: 2px;
  }
  .card {
    padding: 30px;
  }
  .main a {
    text-decoration: none;
    color: black;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .main {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    max-width: 2048px;
  }
  .owner {
    display: flex;
    gap: 30px;
    align-items: center;
    width: 180px;
    color: grey;
  }

  .owner img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
  }

  .card > img {
    width: 250px;
    height: 360px;
    border-radius: 2px;
  }
  .card {
    padding: 30px;
  }
  .main a {
    text-decoration: none;
    color: black;
  }
}
